<header class="header">
  <h1 class="header__title">Currency Converter</h1>
  <div class="header__content exchange-rate">
    <h2 class="exchange-rate__title">
      Currency exchange <span>{{ currentDate | date: 'dd MMMM y'}}</span>
    </h2>
    <div class="exchange-rate__list">
      <div class="exchange-rate__item">
        <h3 class="exchange-rate__subtitle">USD / <span>UAH</span></h3>
        <p class="exchange-rate__value">{{ usdRate | currency: 'USD' }}</p>
      </div>
      <div class="exchange-rate__item">
        <h3 class="exchange-rate__subtitle">EUR / <span>UAH</span></h3>
        <p class="exchange-rate__value">{{ eurRate | currency: 'EUR' }}</p>
      </div>
    </div>
  </div>
</header>
